body {
  background-image: radial-gradient(#00bfff, black);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
